.contact-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.contact-container h1{
    font-size: 5em;
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.contact-left{
    display: flex;
    justify-content: space-between;
    flex: 1;
    max-width: 40%;
    margin-top: 10vh;
    font-size: 1.1em;
}

.contact-left img{
    width: 1.5em;
    height: 1.5em;
    border: 1px solid rgb(46, 40, 40);
    border-radius: 1em;
    padding: 0.3em;
    background-color: #fff0c9;
}

.contacts{
    width: 10em;
    padding: 1.2em
}

.contact-right{
    flex: 1;
    padding-left: 25vh;
    max-width: 60%;
    margin-top: 10vh;
}

.form-field {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.name-email-fields {
    display: flex;
    justify-content: space-between;
}

.name-email-fields div {
    width: 12em;
}

label {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}

input, textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
    font-size: 16px;
}

textarea{
    height: 100px;
}