.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-container h1{
    font-size: 5em;
    margin-top: 20px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.about-container h4{
    font-size:1.1em;
}


.col-left{
    margin-top: 10vh;
    margin-left: 10vh;
    width: 50vw;
}

.col-left img{
    width: 2em;
    height: 2em;
}

.col-right{
    display: flex;
    flex-direction: column;
    margin-left: 20vh;
}

.col-right button{
    display: block;
    margin-top: 15px;
}