.skills-icons{
    display: inline-block;
    position: relative;
    width: 60vw;
}

.skills-icons img{
    margin: 10px;
    width: 4.5em;
    height: 4.5em;
    border-radius: 10px;
}

.skills-icons img:hover{
    cursor:pointer;
    opacity: 0.8;
}

/* .tech-logo img{
    filter: grayscale(100%);
    transition: all 0.3s;
}

.tech-name{
    display: none;
    position: absolute;
    width: 100%;
    padding: 10px;
    background-color: white;
    text-align: center;
    font-weight: bold;
    transition: all 0.3s;
}

.tech-icon:hover .tech-logo{
    filter: grayscale(0%);
    opacity: 1;
}

.tech-icon:hover .tech-name{
    display: block;
} */